.container{
  display: flex;
  background: black;
  height: 10vh;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rightContainer{
  display: flex;
}